language: php

php:
  - 7.1
  - 7.0
  - 5.6
  - 5.5
  - 5.4
  - 5.3
  - hhvm
  - nightly

before_script: composer install

script: ./vendor/bin/phpunit

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly

sudo: required